body{
    background-color: rgb(61, 105, 202);
    cursor: pointer;
}
.primary-navigation{
    background-color: rgb(195, 0, 255);
    color: whitesmoke;
    padding: 14px 15px 100px 13px;
    border-radius: 5%;
}
.headlines-section{
    background-color: black;
    color: whitesmoke;
    padding: 15px 15px 100px 13px;
    border-radius: 15%;
}

.placeholder-img{
    align-self: center;
    padding: 0px 0px 0px 120px;
    width: 300px;
    height: 300px;
}
h1{
    background-color: rgb(8, 65, 6);
    color:white;
    margin: 0em 0em 0em 0em;
    padding: 4px 2px 6px 0px;
    border-radius: 25%;
}

#logo{
    color: rgb(242, 255, 67);
    margin: 0em 0em 0em 8em;
}

.aboutus-section{
    background-color: rgb(0, 162, 255);
    color: whitesmoke;
    padding: 10px 3px 10px 5px;

} 
h2{
    color: rgb(255, 0, 0);
    margin: 2em 0em 0em 9em;
}
h3{
    color: rgb(238, 255, 0);
    margin: 2em 3em 1em 13em;
}
h4{
    color: rgb(255, 60, 0);
    margin: 2em 3em 0em 14em;
}
.contacts-section{
    align-items: center;

}
#first-p{
    margin: 0em 0em 1em 4em;
}
#second-p{
    margin: 0em 0.5em 1em 4em;
}
#twtr{
    margin: 0em 0em 0em 13em;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    padding: 10px 15px 10px 13px;
}
#fb{
    margin: 0em 0em 0em 4em;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    padding: 9px 8px 9px 8px;
}

.logo-image{
    width: 300px;
    height: 90px;
    align-items: left;
    padding: 0px 0px 0px 130px;
    

}
#search-bar{
    width: 300px;
    height: 90px;
    padding: 0px 0px 0px 0px;
}




.fixture-list{
    margin: 0em 0em 0em 4em;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    padding: 9px 8px 9px 8px;
    display:inline-block
}
.shop-list{
    margin: 0em 0em 0em 3em;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    padding: 9px 8px 9px 8px;
    display:inline-block
    
}
.home-list{
    margin: 0em 0em 0em 0em;
    padding: 0px 5px 0px 0px;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    padding: 9px 8px 9px 8px;
    display:inline-block
}
.videos-list{
    margin: 0em 0em 0em 4em;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    padding: 9px 8px 9px 8px;
    display:inline-block
}

.secondary-navigation{
    background-color: black;
}

#login-id{
    margin: 0em 0em 0em 7em;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    padding: 9px 8px 9px 8px;
}
#signup-id{
    margin: 0em 0em 0em 8em;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    padding: 10px 15px 10px 13px;
}

#searching-form{
    box-sizing: content-box;
    padding: 0px 0px 0px 0px;
    margin: 4em 0em 0em 5em;
    
}